<footer>
  <div class="row">
    <hr class="col s10 offset-s1"></hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s2 center-align">
        <a href="/" class="brand-logo"><img class="nav-logo" src="images/CP_Logo_Gradient_Website_M.svg" alt=""></a>
        <h5>Crypto Piggy</h5>
      </div>
      <div class="col s5 offset-s5">
        <div class="col s6">
          <b><p>How it works</p></b>
          <ul>
            <li><a href="#how-it-works">Steps to get started</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </div>
        <div class="col s6">
          <b><p>Support</p></b>
          <a href="/#contact">Contact us</a>
        </div>
      </div>
    </div>
    <div class="copy-wright">
        <p>Copyright © 2017 Crypto Piggy</p>
    </div>
  </div>
</footer>
