<header>
  <nav class="sticky">
    <div class="nav-wrapper container">

      <a href="/" class="brand-logo"><img class="nav-logo" src="images/CP_Logo_Gradient_Website_M.svg" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#how-it-works">How it works</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
