<!DOCTYPE html>
<html>
    <% include partials/head %>

  <body>
    <% include partials/header %>

  <body>
    <div class="container">
      <section class="jumbo-tron valign-wrapper">
        <div class="row">
          <div class="col s12">
            <img class="responsive-img" src="images/Marquee(2).jpg" alt="">
          </div>
        </div>
      </section>

      <section id="how-it-works" class="how-it-works scrollspy">
        <div class="row">
          <div class="col s12 color-break">
            <h3>How it works</h3>
            <hr class="col s7"></hr>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 content-div">
            <h4>1. Create an account</h4>
            <p>Double check that you have added an Ethereum public address and that the account has Ether in it. If you have done this, waited over an hour and nothing is still showing up on the graph portion of the dashboard please reach out to questions@cryptopiggy.us with you inquiry. We will do our best to troubleshoot.</p>

            <br></br>

            <h4>2. Enter in your Ethereum Public Addresses</h4>
            <p>We are currently working to add additional cryptocurrencies outside of just Ether, this includes all ERC20 tokens. We hope to support multiple currencies in the coming months.</p>

            <br></br>

            <h4>3. Access the dashboard</h4>
            <p>We have plenty of ideas in regards to additional features like first and foremost supporting other currencies... If you have any other ideas, comments, questions or want to work on the project. Please don't hesitate to reach out to questions@cryptopiggy.us.</p>
          </div>
        </div>
      </section>

      <section id="faq" class="FAQ scrollspy">
        <div class="row">
          <div class="col s12 color-break">
            <h3>Frequently asked questions</h3>
            <hr class="col s7"></hr>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 content-div">
            <h4>My graph doesn't display?</h4>
            <p>Double check that you have added an Ethereum public address and that the account has Ether in it. If you have done this, waited over an hour and nothing is still showing up on the graph portion of the dashboard please reach out to questions@cryptopiggy.us with you inquiry. We will do our best to troubleshoot.</p>

            <br></br>

            <h4>Why don't my ERC20 Tokens don't show up?</h4>
            <p>We are currently working to add additional cryptocurrencies outside of just Ether, this includes all ERC20 tokens. We hope to support multiple currencies in the coming months.</p>

            <br></br>

            <h4>How can I pitch in, or help out Crypto Piggy?</h4>
            <p>We have plenty of ideas in regards to additional features like first and foremost supporting other currencies... If you have any other ideas, comments, questions or want to work on the project. Please don't hesitate to reach out to questions@cryptopiggy.us.</p>

            <p>Additionally since the project is maintained by a small group of people, we would also greatly appreciate your support. We accept Ethereum donations here: <span>0x524229338cc35Cc4e01920b2780d61552fd8F726</span></p>
          </div>
        </div>

      </section>

      <section id="contact" class="contact scrollspy">
        <div class="row">
          <div class="col s12 color-break">
            <h3>Contact</h3>
            <hr class="col s7"></hr>
          </div>
        </div>
          <div class="row contact-holder valign-wrapper">
            <div class="col s6 offset-s3 center-align">
              <h5>Do you have any questions, comments or feedback to help us improve the platform?</h5>
              <a class="email-btn waves-effect waves-light btn" href="mailto:questions@cryptopiggy.us"><i class="material-icons left">email</i>Message</a>
            </div>
          </div>
        </div>
      </section>

    </div>
    <% include ./partials/footer %>

    <% include ./partials/script %>
  </body>
</html>
